<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tiny example</title>
  </head>
  <body>

   <script>
//    makegraph();
//    document.body.innerHTML = Viz(makegraph());
    </script>

	<img src=https://v157-7-129-202.myvps.jp:44502/graph width="1000" height="1000">

  </body>
</html>
